@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root { /* config variavéis*/
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* { /*criar configs gerais para resetar todos os nossos elementos; */
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body { /*configs que os dois terão em comum*/
    min-height: 100vh; /*tamanho (altura) mínimo do site*/
    background-color: darkgray;
    font-family: var(--fonte1);

}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}

header > h1 {
    padding-top: 50px; /* parte de cima do cabecario*/
    /*text-transform: uppercase; */
    font-variant:small-caps;
    font-size: 10vh; /*largura da tela*/
}

header > p {
    padding-bottom: 50px; /*parte de baixo do cabecario*/
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(56, 55, 55);
    color: white;
}

section.imagem > p {
    display: inline-block; /*transforma na caixa que se adapta ao tamanho do conteudo*/
    padding: 5px;
    background-color:  rgba(0, 0, 0, 0.247);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}